<div class="card sticky-top shadow-lg" *ngIf="isNotEmpty()">
    <img [src]="selectedContact.picture.large" alt="" class="img-fluid">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                NAME : {{selectedContact.name.first}} {{selectedContact.name.last}}
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                EMAIL : {{selectedContact.email}}
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                AGE : {{selectedContact.dob.age}}
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                City : {{selectedContact.location.city}}
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                State : {{selectedContact.location.state}}
            </li>
        </ul>
    </div>
</div>