<div class="container mt-3">
<div class="row">
    <div class="col">
        <p class="h3 text-danger">About Us</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam iste laborum deserunt cupiditate natus repudiandae, illum officiis modi excepturi nisi inventore quas aliquid tenetur tempora dicta neque nesciunt accusamus voluptate.</p>
    </div>
</div>
</div>

<div class="container mt-3">
<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">
                AppName: <span class="fw-bold">Angular Routing</span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                Version: <span class="fw-bold">1.0.0</span>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                Author: <span class="fw-bold">HARI PRASAD</span>
            </li>
        </ul>
    </div>
</div>
</div>
