<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-content-center text-center h-100">
            <h5 class="display-2">Angular Routing</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ut nobis, quo, quia nisi iste commodi laudantium modi ducimus, repellendus quae sit non? Quod, ut amet corporis dolorum tenetur deleniti pariatur dicta voluptatum quo nobis temporibus odit sequi doloribus quasi.</p>
        </div>
    </div>
</div>
