<!-- <nav class="navbar navbar-dark bg-danger">
    <a href="" class="navbar-brand">Angular With Data Binding</a>
</nav> -->
<!-- <app-card-bootstrap></app-card-bootstrap> -->
 <!-- <app-databindingex></app-databindingex> -->
  <!-- <app-counter></app-counter> -->
   <!-- <app-wish-message></app-wish-message> -->
    <!-- <app-product-item></app-product-item> -->
     <!-- <app-shopping-cart></app-shopping-cart> -->
      <!-- <app-change-user-name></app-change-user-name> -->
       <!-- <app-sms-app></app-sms-app> -->
        <!-- <app-show-password></app-show-password> -->
         <!-- <app-amount-range></app-amount-range> -->
          <!-- <app-app-theme></app-app-theme> -->
           <!-- <app-user-register></app-user-register> -->
            <!-- <app-auth-user></app-auth-user> -->
             <!-- <app-shopping-cart-ex-for></app-shopping-cart-ex-for> -->
              <!-- <app-pipes-ex></app-pipes-ex> -->
               <!-- <app-user></app-user> -->
                <!-- <app-contact-app></app-contact-app> -->
                 <app-navbar></app-navbar>
                 <router-outlet></router-outlet>